body {
    font-size: 20px;
    line-height: 1.8em;
}

a {
    color: rgb(73, 104, 206);
    text-decoration: none;
}

ol {
    margin-top: 0;
}

main {
    display: flex;
    align-items: flex-start;
    padding: 150px 0 0 0;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

#link-list-1 {
    display: inline-block;
    font-size: 24px;
    line-height: 2.2em;
    flex: 1;
    padding-left: 0;
    list-style: none;
}

#link-list-2 {
    display: inline-block;
    font-size: 16px;
    line-height: 2.2em;
    flex: 1;
    padding-left: 0;
    list-style: none;
}

li.link-list-li a {
    opacity: 0.85;
}

li.link-list-li-low-usage a {
    /* Caution: Making low-usage links' less noticeable may cause them to be even less used that it should be. */
    opacity: 0.75;
}

li.link-list-li-high-usage a {
    opacity: 1;
}

aside {
    font-size: 20px;
    margin: auto;
    max-width: 800px;
    opacity: 0.5;
}

aside:hover {
    opacity: 1;
}
